<%- include ('partials/header') %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About BlogDude</h1>
            <h3>What is BlogDude?</h3>
            <hr>
            <p>
              <strong class="text-danger">BlogDude</strong> is a blogging  website. Users can create their own CoronaBlogs or review others' CoronaBlogs. To get started, simply
              <a href="/register">sign up</a>.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove CoronaBlogs created by them</li>
              <li>Users can review CoronaBlogs , and edit or remove their review</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <%- include ('partials/footer') %>